.slidecontainer {
    width: 100%;
  }

.slider {
-webkit-appearance: none;
width: 100%;
height: 5px;
border-radius: 1px;
background: #fff;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #FFBBAB;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #FFBBAB;
cursor: pointer;
}

input[type=text], select {
    width: 300px;
    height: 30px;
    border: none;
    margin-top: -30px;
  }

.inputNames {
    float:left;
    padding-top: 10px; 
    font-weight: bold;
}

.downloadFile {
    float:right; 
    height:30px; 
    width:90px
}

.runModel {
    width: 100%;
    font-weight: bold; 
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    fill: #fff; 
    border: none;
}

.form-label {
    font-weight: bold; 
}

.download {
    background-color: white; 
    padding: 10px; 
    width: 300px; 
    border: none" 
}